[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_naem]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignaturem, keyEncipherment
subjectAltName = @alt_names
[alt_names]
IP.1 = __NODE_IP__
